.container_todos{
    display: flex;
}

@media screen and (max-width: 768px) {
    .container_todos{
        display: block;
    }
    .container_todos_section {
        display: block;
        width: 100% !important;
        margin: 0px !important;
        margin-top: 15px !important;
    }
}

.container_todos_section {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    overflow: hidden;
    width: 50%;
    margin: 10px;
}
