
.container_app {
    background-color: #111827 ;
    height: 100vh;
    padding: 20px;
}

.add_todo {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .add_todo {
        display: block;
        text-align: center;
    }
    .add_todo_title {
        font-size: 2rem !important;
    }
    .add_todo_button {
        margin: 0 auto !important;
    }
}

.add_todo_title {
    font-size: 3rem;
    margin: 15px;
}

.button_container {
    text-align: center;
}

.add_todo_button {
  background-color: #13AA52;
  border: 1px solid #13AA52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add_todo_button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .add_todo_button {
    padding: 10px 30px;
  }
}

.text_green {
 color: #13aa52;
}