@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #3c4c8f;
    --white: #ffffff;
    --light-gray: #f5f5f5;
    --gray: #94a3b8;
    --dark-gray: #64748b;
    --black: #000;
}

body {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    background-color: var(--light-gray);
}


