@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #3c4c8f;
    --white: #ffffff;
    --light-gray: #f5f5f5;
    --gray: #94a3b8;
    --dark-gray: #64748b;
    --black: #000;
}

html {
    background-color: #111827 !important;
}

body {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: white;
}

.fix_form{
    overflow: hidden;
    height: 100vh;
}

.swal2-modal{
    background-color: #111827 !important;
    color: white !important;
}


